.header {
  display: flex;
  position: fixed;
  height: 125px;
  width: 100%;
  z-index: 1;
  justify-content: space-around;
  font-family: 'Lora', serif;
  background-image: url(../assets/hollyhocks.png);
  background-size: cover;
  border-bottom: 5px solid #cbadad;
}

.name-and-title {
  color: white;
  font-size: 40px;
  padding: 5px;
  text-shadow: 1px 1px black;
  padding-top: 25px;
}

.name-and-title h2 {
  font-size: 30px;
}

.about-header {
  margin-top: 42px;
  padding: 10px;
  font-size: 20px;
  height: 23px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: #cbadad;
  color: #fff;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.selected {
  height: auto;
  box-shadow: 1px 1px #cbadad;
  transition: 0.1s;
}

.main-content {
  overflow-y: hidden;
  height: 100%;
  position: relative;
  top: 130px;
  overflow-x: hidden;
}
