.header {
  display: flex;
  position: fixed;
  height: 125px;
  width: 100%;
  justify-content: space-around;
  font-family: 'Lora', serif;
  background-image: url(../assets/hollyhocks.png);
  background-size: cover;
  border-bottom: 5px solid #cbadad;
}

.name-and-title {
  color: white;
  font-size: 40px;
  padding: 5px;
}

.name-and-title h2 {
  font-size: 30px;
}

.about-header {
  margin-top: 42px;
  padding: 10px;
  font-size: 20px;
  height: 23px;
  border-radius: 2px;
  box-shadow: 1px 1px lightgrey;
  background-color: #cbadad;
  color: #fff;
}

.selected {
  height: auto;
  box-shadow: 1px 1px #cbadad;
  transition: 0.4s;
}
