.projects-content {
  top: 65px;
  position: relative;
  font-family: 'Lora', serif;
}

.project-h1 {
  font-size: 30px;
  width: 100%;
  padding: 35px;
  padding-bottom: 20px;
  top: 130px;
  position: fixed;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  z-index: 1;
  background-color: white;
}

.project {
  top: 79px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.slide-pic img {
  height: 300px;
  width: auto;
}

.project-info {
  margin-left: 75px;
  width: 500px;
}

.project-info p {
  margin: 10px 0 10px 0;
}

h3 {
  font-size: 16px;
  font-style: italic;
}

.slide-info p {
  margin-top: 50px;
}

.spacealone-pic img {
  height: 300px;
  width: auto;
}

.strawberry-pic img {
  height: 300px;
  width: auto;
}

.project-ul {
  list-style-type: circle;
  width: 500px;
  font-size: 12px;
}

.project-ul li {
  margin: 10px;
}

.link {
  background-color: #958b8d!important;
}

.off {
  display: none!important;
}
